<ion-header>
  <ion-toolbar>
    <ion-title>Account Verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="main-box" padding>
    <ion-list margin-top lines="none">
      <ion-item text-center><img style="margin:0 auto" width="30" height="30" src="assets/imgs/account-icon.svg"></ion-item>
      <ion-item margin-top text-center>
        <span class="notification-text">An activation code has been sent to this number:</span></ion-item>

      <ion-item>
        <div class="contact-box">

          <span>+000</span>
          <ion-input type="number" placeholder="contact number"></ion-input>
        </div>
      </ion-item>

      <ion-item class="ver-input">
        <ion-row>

          <ion-col>
            <ion-input type="number"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number"></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>


    </ion-list>

    <div class="button-btn-div" text-center>
      <ion-button float-left disabled class="nxt-btn" expand="block" style="margin-bottom:10px;">VERIFY ACCOUNT</ion-button>

      <ion-button float-left class="resend-btn" expand="block">RESEND CODE</ion-button>
      <span float-left margin-top style="width:100%;"><a href="#">EDIT MOBILE NUMBER</a></span>
    </div>
  </div>

</ion-content>