<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Time Blocking</ion-title>
  <ion-buttons padding-end slot="end">
      <img width="18" height="18" src="assets/imgs/notification-icon.svg" />
  </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div class="main-box">
      <div class="flex-box-down">
          <div class="flex-box-down-inner">
            <div class="p-text">You have no blocked times</div>
</div>
</div>
</div>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col> <button color="primary" expand="block" class="foot-btn">+ BLOCK TIME</button></ion-col>
      </ion-row>
    </ion-toolbar>
   
</ion-footer>

