<ion-header>
  <ion-toolbar>
    <ion-title>Public Profile Settings</ion-title>
    <ion-buttons slot="end" margin-end>
       <img width="12" height="12" src="assets/imgs/close-icon.svg"/>
      </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <ion-list lines="none">
      <ion-item expand="block" ion-item class="like-btn">Change Profile Picture
          <img slot="end" src="assets/imgs/ahead-arrow-gray.svg" />
      </ion-item>
      
      <ion-item expand="block" ion-item class="like-btn">Edit Personal Details
          <img slot="end" src="assets/imgs/ahead-arrow-gray.svg" />
      </ion-item>

      <ion-item expand="block" ion-item class="like-btn">Edit Rating / Ranking
          <img slot="end" src="assets/imgs/ahead-arrow-gray.svg" />
      </ion-item>

      <ion-item expand="block" ion-item class="like-btn">CV
          <img slot="end" src="assets/imgs/ahead-arrow-gray.svg" />
      </ion-item>

      <ion-item expand="block" ion-item class="like-btn">View Profile as Public
          <img slot="end" src="assets/imgs/ahead-arrow-gray.svg" />
      </ion-item>
  </ion-list>

</ion-content>
