<ion-header>
  <ion-toolbar>
    <ion-title>CV - Years of Experience</ion-title>
    <ion-buttons slot="end" margin-end>
      <img width="12" height="12" src="assets/imgs/close-icon.svg" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
      <ion-item class="exp-div">
        <span>
          WTA 
          <span>1995 - 1998 (3 yrs)</span></span>
          <ion-button slot="end"><img src="assets/imgs/close-icon.svg"/></ion-button>
        </ion-item>

        <ion-item class="exp-div">
            <span>
                Coaching 
              <span>1995 - 2017 (22 yrs)</span></span>
              <ion-button slot="end"><img src="assets/imgs/close-icon.svg"/></ion-button>
            </ion-item>

     
    <ion-item>
      + Add Experience
    </ion-item>
  </ion-list>

  <div lines="none">
    <div class="input-half">
      <ion-input class="login-input" placeholder="year started"></ion-input>
      <ion-input class="login-input" placeholder="year end"></ion-input>
    </div>
<div class="input-ahead">
    <ion-input class="login-input" placeholder="Type of Experience"></ion-input>
   <span><img  src="assets/imgs/ahead-arrow-gray.svg" /></span>
  </div>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <button>SAVE</button>
  </ion-toolbar>
</ion-footer>