<ion-header>
  <ion-toolbar>
    <ion-title>Add Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div id="evaluation">
      
        <div>
        <ion-card class="active">
          <ion-card-header>UPLOAD A VIDEO</ion-card-header>
          <p>Upload a video from your phone.
              Maximum size allowed: 30MB
              Formats: X</p>
             
        </ion-card>
        <ion-card>
            <ion-card-header>ELINK A VIDEO URL</ion-card-header>
            <p>Link a video you have uploaded a video
                streaming service like YouTube, Vimeo, etc.</p>
               
          </ion-card>

          <ion-card>
              <ion-card-header>ATTACH A REFERENCE VIDEO</ion-card-header>
              <p>Include a video from the “Reference” section
                  of the app - including your customised videos.</p>
                 
            </ion-card>
          
                </div>
          <ion-footer style="position: fixed;left: 0; bottom:0;">
              <ion-toolbar>
                <button>NEXT</button>
              </ion-toolbar>
            </ion-footer>
              </div>

</ion-content>
