ion-icon
{
 color:#fff;   
}


ion-content {
    --background: url(../../assets/imgs/background-login.png);
    background-size: cover;
    float: left;
    width: 100%;
    height: 100%;
    position: relative;

flex-box-down {
    display: flex;
    height: calc(100% - 235px);
    align-items: flex-end;
  }
  
  .flex-box-down-inner {
    width: 100%;
    float: left;
    padding: 20px 20px;
  }
  
  
ion-list {
    background: none;
}

ion-item {
--background: #363636;
margin-bottom: 10px;
--border-radius: 5px;
color:#A5A5A5;
font-size: 16px;
font-family: "Khand";
 --min-height: 50px;

}


ion-item.item-radio-checked{ --background: #FF994B}

ion-item.item-radio-checked ion-label{ color:#fff;}



ion-item.item-checkbox-checked{ --background: #FF994B}

ion-item.item-checkbox-checked ion-label{ color:#fff;}
} /*ion-content end here*/


.foot-btn {
background: transparent;
height: 50px;
border-radius: 5px;
width: 100%;
color: #707070;
font-size: 25px;
font-family: "Khand";
font-weight: 500;
margin: 0;
outline: none;
}

.foot-btn:focus
{  border: 1px solid #6DCCC1;
color: #fff;
}