<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content no-padding>
  <div class="main-box">

    <ion-img class="logo-icon" src="assets/imgs/logo-login.svg" width="55" height="55"></ion-img>

    <div class="flex-box-down">
      <div class="flex-box-down-inner">
        <div>
          <ion-input class="login-input" type="text" placeholder="login email"></ion-input>

          <ion-button class="input-btn"><img width="20" height="15" src="assets/imgs/username-icon.svg" /></ion-button>

        </div>
        <div>
          <ion-input class="login-input" type="password" placeholder="password">

          </ion-input>

          <ion-button class="input-btn"><img width="20" height="15" src="assets/imgs/password-icon.svg" /></ion-button>
        </div>




        <button color="primary" expand="block">LOGIN</button>

        <div class="buttom-btn">

          <a href="#"><img src="assets/imgs/back-arrow.svg" /><span>FORGOT PASSWORD</span></a>

          <a href="#"><span>CREATE NEW ACCOUNT</span> <img src="assets/imgs/ahed-arrow.svg" /></a>


        </div>

      </div>




    </div>

  </div>

</ion-content>