<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>TIME BLOCKING</ion-title>
        <ion-buttons padding-end slot="end">
            <img width="18" height="18" src="assets/imgs/notification-icon.svg" class="or-icon"/>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <div class="main-box">
  <ion-row>
  <div class="box">
      <div class="box-inner">
        <ion-col size="12">
        <p class="grey-text border-btm"><span><ion-icon name="pin" class="grey-text"></ion-icon></span> &nbsp;&nbsp;Name of the club</p>
        <p class="grey-text-big">Approved on DD MM 2019</p> 
        <p class="or-text">DD MM 2019</p>
        <p class="grey-text">7.30pm-12.00pm</p> 
      </ion-col>
    </div>
  </div>
    </ion-row>
    <ion-row>
    <div class="box">
         <button class="or-button" text-left>Cancel Application</button>
          </div>
          </ion-row>
<ion-row>
  <div class="box">
  <div class="box-inner">
  <ion-col size="12">
  <p class="grey-text border-btm"><span><ion-icon name="pin" class="grey-text"></ion-icon></span> &nbsp;&nbsp;Name of the club</p>
  <p class="grey-text-big">Approved on DD MM 2019</p> 
  <p class="or-text">DD MM 2019</p>
  <p class="grey-text">7.30pm-12.00pm</p> 
  </ion-col>
  </div>
  </div>
  </ion-row>
  <ion-row>
  <div class="box">
  <button class="or-button" text-left>Cancel Application</button>
  </div>
  </ion-row>
 
  
  <ion-row>
      <div class="box">
      <div class="box-inner">
      <ion-col size="12">
      <p class="grey-text border-btm"><span><ion-icon name="pin" class="grey-text"></ion-icon></span> &nbsp;&nbsp;Name of the club</p>
      <p class="grey-text-big">Pending Club approval</p> 
      <p class="or-text">DD MM 2019</p>
      <p class="grey-text">7.30pm-12.00pm</p> 
      </ion-col>
      </div>
      </div>
      </ion-row>
      <ion-row>
      <div class="box">
      <button class="gr-button" text-left>Cancel Application</button>
      </div>
      </ion-row>
      <ion-row>
          <div class="box">
          <div class="box-inner">
          <ion-col size="12">
          <p class="grey-text border-btm"><span><ion-icon name="pin" class="grey-text"></ion-icon></span> &nbsp;&nbsp;Name of the club</p>
          <h6 class="grey-text-big">Pending Club approval</h6> 
          <p class="or-text">DD MM 2019</p>
          <p class="grey-text">7.30pm-12.00pm</p> 
          </ion-col>
          </div>
          </div>
          </ion-row>
          <ion-row>
          <div class="box">
          <button class="gr-button" text-left>Cancel Application</button>
          </div>
          </ion-row>
        
</div>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col> <button color="primary" expand="block" class="foot-btn">+ BLOCK TIME</button></ion-col>
      </ion-row>
    </ion-toolbar>
   
</ion-footer>

