<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Block Time</ion-title>
    <ion-buttons padding-end slot="end">
        <ion-icon name="close"></ion-icon>
    </ion-buttons>
    
    </ion-toolbar>
  </ion-header>
  
  <ion-content no-padding>
    <div class="main-box">
        <div class="flex-box-down">
            <div class="flex-box-down-inner">
  
  <ion-list lines="none">

 <div class="input-half">
  <ion-input type="text" placeholder="DD MM 2019" class="login-input"></ion-input>
 <ion-input type="text" placeholder="DD MM 2019" class="login-input"></ion-input>
</div>
<ion-item class="card">
<ion-row><span text-left slot="start">12.30pm - 1.00pm</span><span slot="end"><ion-icon name="close"></ion-icon></span></ion-row>
  <ion-row>
<ion-label>
  <span class="week">Mo</span>
  <span class="week">Tu</span>
  <span class="week">We</span>
  <span class="week">Th</span>
  <span class="week">Fr</span>
  <span class="week">Sa</span>
  <span class="week">Su</span>
</ion-label>
</ion-row>
</ion-item>


<ion-input type="text" placeholder="+Add a new Timeslot" class="login-input"></ion-input>
 </ion-list>
           
          </div>
          </div>
    </div>
  
  </ion-content>
  
  <ion-footer>
      <ion-toolbar>
        <ion-row>
          <ion-col> <button color="primary" expand="block" class="foot-btn">SUBMIT FOR REVIEW</button></ion-col>
        </ion-row>
      </ion-toolbar>