<ion-header>
  <ion-toolbar>
    <ion-title>View All Classes</ion-title>
    <ion-button slot="end"><ion-icon name="close"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
<div ion-fixed class="total-class-div"> TOTAL CLASSES LEFT: 9/12</div>
<ion-content>

    <div class="main-box" padding>
  

<ion-list lines="none">
<ion-item disabled>
<span slot="start">WED 8 AUG 2018</span>
<span slot="end">6:30pm - 7:30pm</span>

</ion-item>
<ion-item disabled>
    <span slot="start">WED 8 AUG 2018</span>
    <span slot="end">6:30pm - 7:30pm</span>
    
    </ion-item>

    <ion-item disabled>
        <span slot="start">WED 8 AUG 2018</span>
        <span slot="end">6:30pm - 7:30pm</span>
        
        </ion-item>

        <ion-item class="checked">
            <span slot="start">WED 8 AUG 2018</span>
            <span slot="end">6:30pm - 7:30pm</span>
            
            </ion-item>

            <ion-item class="checked">
                <span slot="start">WED 8 AUG 2018</span>
                <span slot="end">6:30pm - 7:30pm</span>
                
                </ion-item>

                <ion-item>
                    <span slot="start">WED 8 AUG 2018</span>
                    <span slot="end">6:30pm - 7:30pm</span>
                    
                    </ion-item>
                    

</ion-list>


      </div>

</ion-content>
