<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons padding-end slot="end">
        <ion-icon name="close"></ion-icon>
    </ion-buttons>
    
    </ion-toolbar>
  </ion-header>
  
  <ion-content no-padding>
    <div class="main-box">
        <div class="flex-box-down">
            <div class="flex-box-down-inner">
                <ion-list lines="none">
                    <ion-item>
                        <ion-label text-left>Phone Notifications</ion-label>
                        <ion-checkbox mode="ios" slot="end"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                          <ion-label text-left>App Alert Vibration</ion-label>
                          <ion-checkbox mode="ios" slot="end"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label text-left>App alert Sound</ion-label>
                            <ion-checkbox mode="ios" slot="end"></ion-checkbox>
                          </ion-item>
                          <ion-item>
                              <ion-label text-left>Set Session Time Remainder</ion-label>
                              <img src="assets/imgs/forward-right1.svg" width="10" height="10">
                          </ion-item>
                      
            </ion-list>
          </div>
          </div>
       
       
    </div>
  
  </ion-content>
  <ion-footer>
      <ion-toolbar>
        <ion-row class="foot-btn">
          <ion-col size="6" text-center><img src="assets/imgs/setting-icon.svg" width="18" height="18" class="ft-icon"><br><ion-label>Notifications</ion-label></ion-col>
          <ion-col size="6" text-center><img src="assets/imgs/setting-icon1.svg" width="18" height="18" class="ft-icon"><br><ion-label>General</ion-label></ion-col>
        </ion-row>
       
      </ion-toolbar>