<ion-header>
  <ion-toolbar>
    <ion-title>Filter By Sport</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="main-box" padding>

        <ion-radio-group>
    <ion-list lines="none">
         
        <ion-item>
            <ion-label text-left>
              
              
                    <span class="game-dif">
                        <span class="game-dif-inner">
                          <img width="16" height="16" src="assets/imgs/all-sport-filter-icon.svg"/>
    
                        </span>
    
    
                      </span>
                    
               
              
                      ALL SPORTS</ion-label>
            <ion-radio mode="ios" slot="end"></ion-radio>
          </ion-item>


        <ion-item>
          <ion-label text-left>
            
            
                  <span class="game-dif">
                      <span class="game-dif-inner">
                        <img width="16" height="16" src="assets/imgs/tennis-filter-icon.svg"/>
  
                      </span>
  
  
                    </span>
                  
             
            
            tennis</ion-label>
          <ion-radio mode="ios" slot="end"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>
            
              <span class="game-dif">
                  <span class="game-dif-inner">
                    <img width="16" height="16" src="assets/imgs/squash-filter-icon.svg"/>

                  </span>


                </span>
            
            squash</ion-label>
          <ion-radio mode="ios" slot="end"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>
              <span class="game-dif">
                  <span class="game-dif-inner">
                    <img width="16" height="16" src="assets/imgs/badminton-filter-icon.svg"/>

                  </span>


                </span>
            
            
            badminton</ion-label>
          <ion-radio mode="ios" slot="end"></ion-radio>
        </ion-item>


        <ion-item>
          <ion-label>
            
              <span class="game-dif">
                  <span class="game-dif-inner">
                    <img width="11" height="18" src="assets/imgs/chess-filter-icon.svg"/>

                  </span>


                </span>
            
            chess</ion-label>
          <ion-radio mode="ios" slot="end"></ion-radio>
        </ion-item>
   
    </ion-list>

  </ion-radio-group>
    </div>

</ion-content>
