<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-icon  name="arrow-back"></ion-icon>
        </ion-buttons>
    <ion-title>Set UTR Rating</ion-title>
    <ion-buttons slot="end">
        <ion-icon class="close-icon" name="close"></ion-icon>
  
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
  
 
         


      
      <ion-input type="number" placeholder="UTR Rating"></ion-input>
       

   
            <ion-input type="number" placeholder="NTRP Rating"></ion-input>
          


       
            <ion-input type="number" placeholder="ATP Ranking"></ion-input>
          


    
            <ion-input type="number" placeholder="WTA Ranking"></ion-input>
        


  
            <ion-input type="number" placeholder="ITF Ranking"></ion-input>
             

   
   
 
</ion-content>

<ion-footer>
    <ion-toolbar>
      <button>CONFIRM</button>
    </ion-toolbar>
  </ion-footer>
