<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-icon name="arrow-back"></ion-icon>
  </ion-buttons>
  <ion-title>Block Time</ion-title>
  <ion-buttons padding-end slot="end">
      <ion-icon name="close"></ion-icon>
  </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div class="main-box">
      <div class="flex-box-down">
          <div class="flex-box-down-inner">


              <ion-list lines="none">
                 
                   
                    
                  
                    <div class="input-half">
                    
                      <ion-input type="text" placeholder="start date" class="login-input"></ion-input>
                      <ion-input type="text" placeholder="end date" class="login-input"></ion-input>
                    
                    </div>
                    <ion-input type="text" placeholder="+Add a new Timeslot" class="login-input"></ion-input>
                  
          </ion-list>
         
        </div>
        </div>
  </div>

</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col> <button color="primary" expand="block" class="foot-btn">SUBMIT FOR REVIEW</button></ion-col>
      </ion-row>
    </ion-toolbar>