<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="main-box" padding>
    <div class="first-fogot-password" >
    <ion-list margin-top lines="none" >
      <ion-item text-center><img style="margin:0 auto" width="30" height="30" src="assets/imgs/account-icon.svg"></ion-item>
      <ion-item margin-top text-center>
        <span class="notification-text">Please enter your login email address:</span></ion-item>

      <ion-item>
        <div class="contact-box">

          <ion-input type="email" placeholder="email address"></ion-input>
        </div>
      </ion-item>

    
       




    </ion-list>
 
    <div class="button-btn-div" text-center>
        <ion-button float-left class="resend-btn" expand="block" fill="outline">SEND CODE</ion-button>
      </div>
      </div>
 

  <div class="resend-fogot-password" style="display: none;">
  

    <ion-list margin-top lines="none">
      <ion-item text-center><img style="margin:0 auto" width="30" height="30" src="assets/imgs/account-icon.svg"></ion-item>
      <ion-item margin-top text-center>
        <span class="notification-text">A verification code has been sent to the
          mobile number associated with the email
          address. Enter the code below, along
          with your new password.</span></ion-item>

     

      <ion-item class="ver-input">
        <ion-row>

          <ion-col>
            <ion-input type="number"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number"></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item>
          <div class="contact-box"  style="margin-top:25px;">
  
            <ion-input  type="password" placeholder="new password (alphanumeric, 8 chars min)"></ion-input>
            <button class="input-btn"><img width="20" height="15" src="assets/imgs/password-icon.svg" /></button>
          </div>
        </ion-item>


    </ion-list>
    <div class="button-btn-div" text-center>
       
  
        <ion-button float-left class="resend-btn" expand="block" fill="outline">RESEND CODE</ion-button>
        <span float-left margin-top style="width:100%;"><a href="#">RESEND VERIFICATION CODE</a></span>
      </div>
</div>
  </div>


</ion-content>