<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-icon name="arrow-back"></ion-icon>
  </ion-buttons>
  <ion-title>Block Time</ion-title>
  <ion-buttons padding-end slot="end">
      <ion-icon name="close"></ion-icon>
  </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div class="main-box">
      <div class="flex-box-down">
          <div class="flex-box-down-inner">
              <ion-list lines="none">             
                    <div class="input-half">
                    
                      <ion-input type="text" placeholder="12.30pm" class="login-input"></ion-input>
                      <ion-input type="text" placeholder="1.00pm" class="login-input"></ion-input>
                    
                    </div>
              </ion-list>
              <ion-list lines="none">
                  <ion-item>
                        <ion-label text-left> Monday</ion-label>
                        <ion-checkbox mode="ios" slot="end"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                           <ion-label text-left> Tuesday</ion-label>
                           <ion-checkbox mode="ios" slot="end"></ion-checkbox>
                         </ion-item>
                         <ion-item>
                              <ion-label text-left> Wednesday</ion-label>
                              <ion-checkbox mode="ios" slot="end"></ion-checkbox>
                            </ion-item>

                            <ion-item>
                                 <ion-label text-left> Thursday</ion-label>
                                 <ion-checkbox mode="ios" slot="end"></ion-checkbox>
                               </ion-item>

                               <ion-item>
                                    <ion-label text-left> Friday</ion-label>
                                    <ion-checkbox mode="ios" slot="end"></ion-checkbox>
                                  </ion-item>


                                  <ion-item>
                                       <ion-label text-left> Saturday</ion-label>
                                       <ion-checkbox mode="ios" slot="end"></ion-checkbox>
                                     </ion-item>

                                     <ion-item>
                                          <ion-label text-left> Sunday</ion-label>
                                          <ion-checkbox mode="ios" slot="end"></ion-checkbox>
                                        </ion-item>
                      
          </ion-list>
         
        </div>
        </div>
  </div>

</ion-content>

<ion-footer>
      <ion-toolbar>
        <ion-row>
          <ion-col> <button color="primary" expand="block" class="foot-btn">NEXT</button></ion-col>
        </ion-row>
      </ion-toolbar>
     
  </ion-footer>
  