<ion-header>
  <ion-toolbar>
    
    <ion-title>Select Country</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="main-box" padding>

      <ion-searchbar class="search-input"></ion-searchbar>

      <ion-list lines="none">

        <ion-item>

          +93 <span>Afghanistan</span>
        </ion-item>

        <ion-item>

            +93 <span>Afghanistan</span>
          </ion-item>


          <ion-item>

              +93 <span>Afghanistan</span>
            </ion-item>


            <ion-item>

                +93 <span>Afghanistan</span>
              </ion-item>

      </ion-list>



    </div>

</ion-content>
